@(implicit request: RequestHeader)

@main("Twitter stream analytics") {
<script type="text/javascript">
    $(function() {
      var tableName = "popularTable";
      createTable(tableName);
   	  var ws = new WebSocket("@routes.Application.socket.webSocketURL()");
	  ws.onmessage = function(event) {
	    var msg = event.data
	    var json = JSON.parse(msg)
	    var dataType = json.type
	    var pairs = json.pairs

	    switch (dataType) {
	      case "popularHashtagSoFar":
            populateTable(tableName, pairs, 0, 1)
            break;
	      case "popularHashtagLastPeriod":
            populateTable(tableName, pairs, 2, 3)
            break;
	      case "popularLanguageSoFar":
            populateTable(tableName, pairs, 4, 5)
            break;
	      case "popularLanguageLastPeriod":
            populateTable(tableName, pairs, 6, 7)
            break;
	    }
      }
      ws.onerror = function() {
        alert("get error from back end, check the log")
      }
    })
</script>
<h1>10 most popular hashtags/languages so far and in the last minute<span id="most-popular"></span></h1>
<table id="popularTable">
</table>
}